
* -text

.editorconfig   text
.flowconfig     text
.gitattributes  text
.gitignore      text
LICENSE         text
README          text

*.md            text
*.txt           text
*.js            text
*.jsx           text
*.json          text
*.css           text
*.html          text

*.jpg           binary
*.gif           binary
*.png           binary
*.svg           text
*.mp4           binary
*.ogv           binary
*.webm          binary
