
#-----------------------------------------------------------------------------#
# Ignore everything by default:
#-----------------------------------------------------------------------------#

/*
/*/


#-----------------------------------------------------------------------------#
# But allow those files and folders:
#-----------------------------------------------------------------------------#

!LICENSE
!README.md
!.editorconfig
!.gitattributes
!.gitignore
!/.vscode
!/src
!/package.json
!/tsconfig.json
!/karma.conf.js
!/webpack.config.js


#-----------------------------------------------------------------------------#
# But make sure to ignore those regardless:
#-----------------------------------------------------------------------------#

.DS_Store
Thumbs.db
